*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
body  html {
  height: 100%;
  width: 100%;
} 
body{
  background-color: black;
}
.heading-text{
  color: white;
  text-align: center;
  font-size: 100px;
  margin-top: 50px;
}
.main-container{ 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -40%);
} 
.text-bar{
  height: 50px; 
  width: 250px; 
  padding-left: 25px;
}
.check-button{
  height: 50px; 
  width: 75px;
  background-color: orange;
}
.result-text{
  color: white;
  margin-top: 50px;
  font-size: 30px;
  padding-left: 30px;
}